body{
    background-image: url(../img/fondo_ftp.jpg);
    background-size: 100%;
}
h2{
    text-align: center;
    color: black;
    background-color: lightgray;
    margin-top: 15px;
    width: 50%;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
}
h1{
    width: 50%;
    background-color:black ;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: 20px;
}
.link{
    color: white;
}
img{
    width: 70%;
    margin-top: 10px
}
p{
    font-size: 25px
}